.Sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -300px;
  width: 300px;
  transform: translateX(-300px);
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}
