#sidebar-container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: 340px;
}

.Sidebar {
  position: absolute;
  border-left: solid grey 1px;
  top: 0;
  bottom: 0;
  right: -300px;
  width: 300px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  transition: transform cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.Sidebar-isOpen {
  transform: translateX(-300px);
}

.Sidebar-toggleOpenButton {
  padding: 3px 4px;
  position: absolute;
  left: -21px;
  border: solid grey 1px;
  border-right: 0;
  border-radius: 3px 0 0 3px;
}
